Package: srvfalar
Version: 1.0
Depends:  mysql-common, espeak, espeak-data, libespeak-dev
Section: eletronic
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: maurinsoft.com.br
Description: srvfalar , robotinics project
